body{
    background-image: './background-image.png';
    background-size:cover;
}

#main-card{
    margin-left: 30vw;
    margin-right: 30vw;
    background-color: white;
}

.dark_square{
    display: flex;
    background-color: rgb(87, 28, 28);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.light_square{
    display: flex;
    background-color: rgb(243, 237, 202);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pieces{
    width: 5vw;
    height: 5vw;
}

#start-button{
    margin-left: 16vw;
    margin-right: 16vw;
    width: 8vw;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
    text-align: center;
    font-size: 0.75vw;
}

#promote-preference{
    text-align: center;
    margin-left: 15vw;
    margin-right: 15vw;
    width: 10vw;
    border: solid gray 1px;
    margin-bottom: 1.5vh;
    font-size: 0.75vw;
}

#status{
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 1.5vh;
    font-size: 0.75vw;
}

@media only screen and (max-width: 800px) {
    #start-button{
        width: 12.5vw;
        height: 10vw;
        font-size: 1.5vw;
        text-align: center;
        margin-left: 18vw;
        margin-right: 8vw;
    }

    #promote-preference{
        width: 12.5vw;
        height: 10vw;
        font-size: 1.5vw;
        margin-left: 8vw;
        margin-right: 8vw;
    }

    #main-card{
        margin-left: 10vw;
        margin-right: 10vw;
        background-color: white;
    }

    .pieces{
        width: 10vw;
        height: 10vw;
    }

    #status{
        font-size: 1.5vw;
    }

}